<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    <h1>{{ .Site.Title }}</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/experience">Experience</a>
      <a href="/skills">Skills</a>
      <a href="/tech">Tech</a>
      <a href="/static/cv.pdf" target="_blank">Download CV</a>
      <a href="#blog">Blog</a>
    </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    <p>&copy; {{ now.Format "2006" }} MY_NAME</p>
  </footer>
</body>
</html>

